html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-image: url('https://www.walldevil.com/wallpapers/a13/background-ground-images-back.jpg') !important;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

.home{
  float: left;
}

h2{
  font-family: Catamaran;
}


.homeButton{
  list-style: none;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 50px;
  margin-left: 0;
  font-size: 40%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.homeButton:hover{
  list-style: none;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 50px;
  margin-left: 0;
  font-size: 100% !important;
}
.homeLogo{
  width:30%;
  float: 'left';
}

.menu {
  width: 50%;
}
.About{
  background-color: #66a0ff;
}

a, .signOutButton {
  color: #66a0ff !important;
  font-family: 'Montserrat', sans-serif !important;
  background: none !important;
}

a:hover{
  color: #1a71ff;
  font-weight: bold;
  font-size: 18px;
}

table {
  border-collapse: collapse;
  width: 100%;
}
/*
.enter{
  color:white;
  font-weight: bold;
  background-color: #66a0ff !important;
} */

th{
  font-family: 'Catamaran', sans-serif;
font-kerning: 20px; }
td, th {
  border-radius: 70px;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #66a0ff;
  color: white;
}

tr:nth-child(odd) {
  background-color: #ededed;
}

.nav {
  overflow: hidden;
  list-style-type: none;
  background-color: #ffffff;
  margin-right: 20px;
}

.navButton {
    border: none;
    border-radius: 0;
    font-size: 17px;
    font-family: palatino;
    color: white;
    background-color: inherit;
}

.menu{
  float: right;
}

.logo {
  float: left;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.siteLogo {
  float: left;
  color: #fff;
  text-align: center;
  margin-left: 40%;
  padding: 0;
  text-decoration: none;
}

.nav-tab {
  float: none;
    color: #fff;
    padding: 0;
    text-decoration: none;
    font-size: 17px;
    list-style-type: none;
}

.nav-tab li {
    float: left;
    color: #fff;
    padding-left: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    list-style-type: none;
}

.nav-tab .signOutButton {
  float: right;
  margin: 0;
  padding: 0;
  padding-right: 10px;
  border: none;
  border-radius: 0;
  font-size: 17px;
  font-family: palatino;
  color: white;
  background-color: inherit;
}

.nav-collapsed {
  float: right;
  margin: 0;
  padding: 10px;
  color: white;
  text-align: center;
  font-size: 20px;
}

.nav-collapsed li {
  float: none;
  margin: 0;
  padding: 10px;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.nav-tab a {
  color: #66a0ff;
    font-family: garamond bold;
}

.signOutButton {
  float: right;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  font-size: 17px;
  font-family: palatino;
  color: white;
  background-color: inherit;
}

.signOutButton:hover {
    background-color: inherit;
}


.navButton:hover {
    background-color: inherit;
}

.navButton a {
    float: right;
    margin: 0;
    padding: 0;
    padding-right: 10px;
    border: none;
    border-radius: 0;
    font-size: 17px;
    font-family: garamond bold;
    color: #66a0ff;
    background-color: inherit;
}

a {
  text-decoration: none;
  color: blue;
}


button{
  width: 100%;
  padding: 12px 20px;
  margin: auto;
  margin-top: 15px;
  display: list-item;
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
  font-weight: bold;
  background-color: #66a0ff !important;
  border: none;
  font-family: Montserrat;
}


button:hover {
  background-color: #1a71ff;
  color: white;
  cursor: pointer;
}

button:disabled {
  background-color: #bbb
}

button:disabled:hover {
  background-color: #bbb
}

.input-form {
  margin: auto;
  margin-top: 7%;
  width: 30%;
  min-width: 270px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 30px 30px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: auto;
    margin-top: 15px;
    display: list-item;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.search-form form input{
  width: 100%;
}

.sellForm, .searchForm{
  align-content: center;
  margin-left: 10%;
  margin-right: 10%;
}

.search-form form input{
  margin: 1%;
  width: 44%;
  display: inline-block;
}

.search-form form button{
  margin: 1%;
  width: 10%;
  display: inline-block;
}

.account-form {
  margin: auto;
  margin-top: 2%;
  width: 40%;
  min-width: 300px;
  padding: 30px 30px;
  color: white;
}

.booklist {
  margin: 20px;
}

.title {
  text-align: center;
  border: 2px solid #ccc;
  padding: 20px;
  background-color: #fff;
}

.home {
  text-align: center;
  color: white;
  padding: 3%;
  font-size: 3em;
  font-family: garamond;
}

.label {
  text-align: center;;
}

.error-message {
  color: red;
}
