html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('./res/images/book-books-bookshelf-159621.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ccc;
  min-height: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #cccccc;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:nth-child(odd) {
  background-color: white;
}

.nav {
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0px;
}

.logo {
  float: left;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  text-decoration: none;
  font-size: 17px;
}

.nav-tab {
  float: none;
    color: #fff;
    padding: 0;
    text-decoration: none;
    font-size: 17px;
    list-style-type: none;
}

.nav-tab li {
    float: left;
    color: #fff;
    padding-left: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    list-style-type: none;
}

.nav-tab .signOutButton {
  float: right;
  margin: 0;
  padding: 0;
  padding-right: 10px;
  border: none;
  border-radius: 0;
  font-size: 17px;
  font-family: palatino;
  color: white;
  background-color: inherit;
}

.nav-collapsed {
  float: right;
  margin: 0;
  padding: 10px;
  color: white;
  text-align: center;
  font-size: 20px;
}

.nav-collapsed li {
  float: none;
  margin: 0;
  padding: 10px;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.nav-tab a {
    color: white;
    font-family: garamond bold;
}

.signOutButton {
  float: right;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  font-size: 17px;
  font-family: palatino;
  color: white;
  background-color: inherit;
}

.signOutButton:hover {
    background-color: inherit;
}

.navButton {
    float: right;
    margin: 0;
    padding: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 0;
    font-size: 17px;
    font-family: palatino;
    color: white;
    background-color: inherit;
}

.navButton:hover {
    background-color: inherit;
}

.navButton a {
    float: right;
    margin: 0;
    padding: 0;
    padding-right: 10px;
    border: none;
    border-radius: 0;
    font-size: 17px;
    font-family: garamond bold;
    color: white;
    background-color: inherit;
}

a {
  text-decoration: none;
  color: blue;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: auto;
    margin-top: 15px;
    display: list-item;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
  width: 100%;
  padding: 12px 20px;
  margin: auto;
  margin-top: 15px;
  display: list-item;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #80a9ed;
}

button:hover {
  background-color: #b7cff7;
}

button:disabled {
  background-color: #bbb
}

button:disabled:hover {
  background-color: #bbb
}

.input-form {
  margin: auto;
  margin-top: 7%;
  width: 30%;
  min-width: 270px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 30px 30px;
  box-shadow: 2px 2px 20px #333;
  background-color: #fff;
}

.search-form {
  width: 100%;
}

.search-form form input{
  margin: 2%;
  width: 29%;
  float: left;
}

.search-form form button{
  margin: 2%;
  width: 29%;
  float: left;
}

.account-form {
  margin: auto;
  margin-top: 2%;
  width: 40%;
  min-width: 300px;
  padding: 30px 30px;
  color: white;
}

.booklist {
  margin: 20px;
}

.title {
  text-align: center;
  border: 2px solid #ccc;
  padding: 20px;
  background-color: #fff;
}

.home {
  text-align: center;
  color: white;
  padding: 3%;
  font-size: 3em;
  font-family: garamond;
}

.label {
  text-align: center;;
}

.error-message {
  color: red;
}
